@import url('https://fonts.cdnfonts.com/css/swis721-ltcn-bt'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    margin: 60px auto;
    width: 70%;
}


nav ul, footer ul {
    font-family:'Courier New', monospace;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.7em;
    font-family:'Courier New', monospace ;
    font-weight: normal;
}

p {
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em; }
    ul.posts li {
        list-style: none;
    }

.btn {
  display: inline-block;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  padding: 5px .4rem 5px .4rem;
  border-radius: .3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 0.4rem;
  border: 1px solid darkslateblue;
  color: darkslateblue; }
  .btn:hover {
    background: darkslateblue;
    color: #FAFAFA;
    cursor: pointer; }

.btn-sm {
  font-size: small; }
