<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<!-- Link to Google Fonts for Roboto Mono -->
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
		</head>
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/files/cv.pdf" target="_blank" rel="noopener">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/melchiorclerc">github.com/melchiorclerc</a></li>
				</ul>
				melchior.clerc@doctorant.uca.fr 
			</footer>
		</body>
	</html>
